@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-grid-small-black {
  background-size: 30px 30px;
  background-image: 
    linear-gradient(to right, rgb(0 0 0 / 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(0 0 0 / 0.1) 1px, transparent 1px);
}

.bg-grid-small-white {
  background-size: 30px 30px;
  background-image: 
    linear-gradient(to right, rgb(255 255 255 / 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(255 255 255 / 0.1) 1px, transparent 1px);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
